#item-detail-wrapper {
    width: 70%;
    background: lightpink;
    height: 2000px;
    margin: 0 auto;
    position: relative;
    top: 150px;
}
#item-detail {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 600px;
    background: white;
}

#item-img-box {
    height: 90%;
    width: 40%;
}

#item-information {
    padding-top:10%;
    height: 90%;
    width: 40%;
    overflow: auto;
}

#item-detail-content {
    width: 100%;
    margin: 0 auto;
    background : lightslategray;
    height: 500px;
    /* height 나중에 지우기. 내용 추가되면 자동으로 길이 늘어나게 */
}

#item-review-box {
    width: 100%;
    margin: 0 auto;
    background : slateblue;
    height: 400px;
    /* height 나중에 지우기. 내용 추가되면 자동으로 길이 늘어나게 */
}

#item-qna-box {
    width: 100%;
    margin: 0 auto;
    background : darkolivegreen;
    height: 400px;
    /* height 나중에 지우기. 내용 추가되면 자동으로 길이 늘어나게 */
}
