#mypage-admin-wrapper {
    margin: 0 auto;
    width: 70%;
    background: rosybrown;
    height: 900px;
}

#mypage-admin-container {
    width: 100%;
    display: flex;
}

#mypage-admin-sidebar {
    width: 28%;
    position: relative;
    top: 150px;
    height: 600px;
    background:darkseagreen ;
}

#mypage-admin-content {
    width: 72%;
    position: relative;
    top: 150px;
    height: 750px;
    background:mediumvioletred;
}

#mypage-admin-upper-box {
    height: 45%;
    width: 100%;
    background:white;
}

#mypage-admin-bottom-box {
    display: flex;
    height: 45%;
}

#mypage-admin-coupon-box {
    width: 50%;
    background:khaki;
}

#mypage-admin-point-box {
    width: 50%;
    background:darkblue;
}