<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout3.html}">
<head>
    <meta charset="UTF-8">
    <title> 로그인 </title>
    <link rel="stylesheet" href="/css/reservationBd.css" type="text/css">
    <script src="/js/join.js"></script>
</head>
<body>
<div layout:fragment="content" style="text-align: left;">

    <div class="container-fluid">

        <div class="col" style="color: black;">
            <p style="font-size: 26px; font-weight: 700; letter-spacing: -2px; color: #0F4229;">예약 내역</p>
            <div>
                <div id="greenBox">

                </div>
            </div>
        </div>


    </div>


</div>
</body>
</html>