<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/view">
<div layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mypageadmin.css" />
</head>
<body>
    
    <div id="mypage-admin-wrapper">
        <div id="mypage-admin-container">
            <div id="mypage-admin-sidebar">
                <div>
                    <h3><a href="/toAdmin">판매 정보</a></h3>
                    <!-- 마이페이지(admin) 열면 나오는 첫 화면. -->
                    <!-- 최근 등록 상품, 쿠폰, 포인트 출력 -->
                </div>
                <div>
                    <h3> 상품 관리 </h3>
                    <!-- 등록한 상품 출력하고 관리 -->
                    <!-- 할인율 수정 등등    -->
                </div>
                <div>
                    <h3><a href="/toRegitem">상품 등록</a></h3>
                </div>
                <div>
                    <h3> 주문 내역 </h3>
                </div>
                <div>
                    <h3> 문의글 관리 </h3>
                    <!-- 가장 최근에 달린 문의글부터 출력 -->
                </div>
            </div>
            <div id="mypage-admin-content">
                <div id="mypage-admin-upper-box">
                        <div class="table-responsive">
                            <table class="table align-middle table-striped table-hover">
                                <thead class="table-secondary">
                                    <tr><td colspan="6" class="text-center"><h2>상품 주문 현황</h2></td></tr>
                                    <tr><td>상품 사진</td><td>상품명</td><td>상품 단가</td><td>주문 수량</td><td>주문 유형</td><td>주문 일시</td></tr>
                                </thead>
                                <tbody>
                                <tr th:each="item : ${itemList}">
                                    <td th:text="${item.product_name}"></td>
                                    <td th:text="${item.product_name}"></td>
                                    <td th:text="${item.product_price}"></td>
                                    <td th:text="${item.product_amount}"></td>
                                    <td>입고</td>
                                    <td th:text="${item.up_time}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
                <div id="mypage-admin-bottom-box">
                    <div id="mypage-admin-coupon-box">
                        <h2>매출 현황</h2>
                    </div>
                    <div id="mypage-admin-point-box">
                        <h2>인기 품목</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</div>
</html>