<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅</title>
    <link rel="stylesheet" href="/css/chat.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>

<div class="chat_container">
    <header>
        <h1>[[${session.user.user_name}]]님의 채팅</h1>
    </header>
    <ul id="msg_box" class="messages"></ul>
    <div id="input_container">
        <div id="input" contenteditable="true"></div>
        <button id="sendBtn">전송</button>
    </div>
</div>

<script th:inline="javascript">
    // jQuery 로드 확인
    console.log($);

    //const는 상수 선언, 변경이 불가하다
    let cur_session = [[${session.user.user_id}]];

    let user_id= cur_session;

    $(function () {
        const websocket = new WebSocket("ws://15.165.155.88:8080//ws/chat");

        websocket.onmessage = onMessage;
        websocket.onopen = onOpen;
        websocket.onclose = onClose;

        // 전송 버튼 클릭 시
        $("#sendBtn").click(function () {
            send();
        });

        // 엔터 키 입력 시
        $("#input").keypress(function (event) {
            if (event.keyCode === 13) {
                send();
            }
        });

        function send() {
            console.log(user_id + ":" + $("#input").text());
            if ($("#input").text() !== "") {
                websocket.send(user_id + ":" + $("#input").text());
                $("#input").text('');
            }
        }

        function onOpen(evt) {
            let str = user_id + ": 님이 입장했습니다."
            websocket.send(str);
        }

        function onClose(evt) {
            let str = user_id + ": 님이 퇴장했습니다."
            websocket.send(str);
        }

        function onMessage(msg) {
            // 웹소켓으로부터 받은 데이터 할당
            let data = msg.data;
            // 변수 초기화
            let user_id = null; // 데이터를 보낸 사람
            let message = null; // 메세지

            // 구분자 : 로 문자열 나누어 arr 배열에 저장
            let arr = data.split(":");

            //데이터 잘 받았는지 확인하여 콘솔에 찍어봄
            for (let i = 0; i < arr.length; i++) {
                console.log('arr[' + i + ']: ' + arr[i]);
            }

            // 현재 세션에 로그인 한 사람
            console.log("현재 로그인한 사용자 : " + cur_session);

            // 웹소켓에서 받은 데이터를 : 로 구분해서 나눈 후 파싱
            user_id = arr[0].trim();

            if (arr[1] === undefined) {
                message = '';
            } else {
                message = arr[1].trim(); // trim은 공백을 없애줌
            }

            if (message === "님이 입장했습니다.") {
                message = user_id + "님이 입장했습니다.";
            }

            if (message === undefined) {
                message = "채팅이 종료되었습니다.";
            }

            if (cur_session && user_id === cur_session) {
                // 현재 세션의 사용자가 보낸 메시지인 경우
                let str = "<li class='self'>";
                str += message;
                str += "</li>";
                $("#msg_box").append(str);
            }
            else {
                // 다른 사용자가 보낸 메시지인 경우
                let str = "<li class='other'>";
                str += message;
                str += "</li>";
                $("#msg_box").append(str);
            }
        }
    })
</script>
</body>
<style>
    #msg_box div:nth-child(n+1) {
        display: none;
    }
</style>
</html>
