<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/view">
<th:block layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/registerlogin.css" />
</head>
<body>
    <div id="register-wrapper">
            <div class="signup-container">
            <h2>Sign Up</h2>

                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="idBox" class="form-label">ID</label>
                        <input type="text" class="form-control" name="userId" id="idBox" placeholder="ID">
                    </div>
                    <div class="col-md-6">
                        <label for="pwBox" class="form-label">Password</label>
                        <input type="password" class="form-control" id="pwBox" placeholder="Password">
                    </div>
                    <div class="col-12">
                        <label for="addrBox" class="form-label">Address</label>
                        <input type="text" class="form-control" name="userAddress" id="addrBox" placeholder="Address">
                    </div>
                    <div class="col-12">
                        <label for="emailBox" class="form-label">Email</label>
                        <input type="text" class="form-control" name="userEmail" id="emailBox" placeholder="Email">
                    </div>
                    <div class="col-12 text-center">
                        <input type="button" class="btn btn-primary" onclick="memberRegister()" value="Sign up"/>
                    </div>
                </form>

<!--            <form>-->
<!--                <div class="box">-->
<!--                    <h4 class="id">ID</h4>-->
<!--                    <input class="input1" id="idBox" name="userId" type="text" placeholder="ID"/>-->
<!--                </div>-->
<!--                <div class="box">-->
<!--                    <h4 class="password">password</h4>-->
<!--                    <input class="input1" id="pwBox" name="userPassword" type="password" placeholder="PW"/>-->
<!--                </div>-->
<!--                <div class="box">-->
<!--                    <h4 class="name">Name</h4>-->
<!--                    <input class="input1" id="addrBox" name="userAddress" type="text" placeholder="Address"/>-->
<!--                </div>-->
<!--                <input id="input2" type="button" value="Sign Up" onclick="memberRegister()" />-->
<!--            </form>-->
            </div>
        </div>
    </body>
    <script>

        <!--    주말에 fetch 해보기    -->
        function memberRegister() {
            let user = {
                userId : document.getElementById("idBox").value,
                userPassword : document.getElementById("pwBox").value,
                userAddress : document.getElementById("addrBox").value,
                userEmail : document.getElementById("emailBox").value
            }

            if(!user.userId || !user.userPassword || !user.userAddress || !user.userEmail)  {
                alert("모든 항목을 입력 해 주세요")
                location.href = "/toRegister"
            } else {
                $.ajax({
                    url : "/register",
                    type : "Post",
                    contentType : 'application/json',
                    data : JSON.stringify(user),
                    dataType : 'text',
                    success : function(data) {
                        console.log(data)
                        if(data == 1) {
                            alert("아이디 중복");
                        } else if(data == 2) {
                            alert("회원가입 성공");
                            location.href="/"
                        }
                    },
                    error : function(data) {
                        alert ("ajax 통신 실패");
                    }
                })
            }
        }
    </script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</th:block>

</html>