<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header">
</head>
<body>
    <div class="wrapper">
        <div id="wrapper">
            <!-- Header-->
            <div th:replace="layout/bodyHeader :: bodyHeader"/>
            <!-- Sidebar -->
<!--            <div th:replace="layout/sidebar :: sidebar"/>-->
            <!-- Content-->
            <div class="container home-main">
                <div class="col-lg-3 row">
                    <div class="col-md-3">
                        <img class="content-main-image" src="/img/readBook.jpg" alt="">
                    </div>
                    <div class="col-lg-3">

                    </div>
                </div>
                <div class="col-md-6">

                </div>
                <div class="col-md-3">

                </div>
            </div>
            <!-- /Content-->
        </div>
        <div th:replace="layout/footer :: footer"/>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src = "/js/main.js"></script>

</body>
</html>