<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thtmeleaf/layout"
layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
	나온다<br/>
	<h1>[[${ttt}]]</h1>
	<h1>[[${yyy}]]</h1>
	<a th:href="@{/aaa(ee=${ttt}, ff=${yyy})}">aaa요청</a>
	<table border="1">
		<tr>
			<th>제목</th>
			<th>내용</th>
		</tr>
		<tr>
			<td th:text="${title}"></td>
			<td th:text="${content}"></td>
		</tr>
	</table>
	<input type="button" th:href="@{/insert}">
</div>

<script layout:fragment="script" th:inline="javascript">
console.log("script.....................");
</script>