<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="fragment-header">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header id="header">
        <section class="h_inner">
            <h1 class="logo">
                <div id="menu-button"></div>
	               <!-- 로그아웃시 href:로그인페이지 -->
		           <a th:if="${session.user == null}" th:href="@{/}"> 
		           	<div class="sprite_write_logo"></div>
		           </a>
		           <!-- 로그인 시 href:내 피드 -->
<!-- 	               <a th:if="${session.user != null}"  -->
<!-- 	               th:href="@{/feed/{login_id}(login_id=${session.user.mem_id})}"> -->
<!-- 	               	<div class="sprite_write_logo"></div> -->
<!-- 	               </a> -->
			           <a th:if="${session.user != null}" th:href="@{/myHome/{mem_id}(mem_id=${session.user.mem_id})}"> 
			           	<div class="sprite_write_logo"></div>
			           </a>
            </h1>

            <div class="search_field">
                <form action="/search">
                	<input type="text" name="searchWord" placeholder="검색" tabindex="0">
                <div class="fake_field">
                    <span class=sprite_small_search_icon></span>
                    <span>검색</span>
                </div>
                </form> 
                
            </div>


            <div class="right_icons">
				<!-- 로그아웃시  -->
          		<a th:if="${session.user == null}" onclick="signUp()"><div class="sprite_plus_icon"></div></a> 
           		<a th:if="${session.user == null}" onclick="signUp()"><div class="sprite_message_icon"></div></a> 
				<a th:if="${session.user == null}" onclick="signUp()"><div class="sprite_heart_icon_outline"></div></a>
  				<a th:if="${session.user == null}" onclick="signUp()"><div class="sprite_user_icon_outline"></div></a>
                <!-- 로그인시  -->
                <a th:if="${session.user != null}" href="/newPost"><div class="sprite_plus_icon"></div></a>
                <a th:if="${session.user != null}" href="#" onclick="someday()"><div class="sprite_message_icon"></div></a>
                <a th:if="${session.user != null}" href="#" onclick="someday()"><div class="sprite_heart_icon_outline"></div></a>
                <a th:if="${session.user != null}" th:href="@{/myHome/{login_id}(login_id=${session.user.mem_id})}" ><div class="sprite_user_icon_outline"></div></a>
            </div>
        </section>
    </header>

<script type="text/javascript">
function signUp() {
	alert("로그인이 필요한 기능입니다");
}
function someday() {
	alert("추후에 만들 기능입니다...");
}
</script>
</body>
</html>