<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="itemlist">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    #item-list-wrapper {
      width: 70%;
      background: #e6dbb9;
      margin: 0 auto;
      position: relative;
      top: 150px;
    }
  </style>
</head>
<body>

<div id="item-list-wrapper">
  <div id="item-list-sidebar">
    <ul>
      <li> <h1>SHOP</h1> </li>
      <li class="item-list-cate-btn"><h3>Category</h3>
        <ul id="item-list-cate-box">
          <li>category 1</li>
          <li>category 2</li>
          <li>category 3</li>
          <li>category 4</li>
          <li>category 5</li>
          <li>category 6</li>
          <li>category 7</li>
          <li>category 8</li>
          <li>category 9</li>
          <li>category 10</li>
          <li>category 11</li>
        </ul>
      </li>
      <li>
        <div>가격조절 bar box</div>
      </li>
      <li>
        <div>초기화 btn box</div>
      </li>
    </ul>
  </div>

  <div id="item-list-main">
    <div class="item-box" th:each= "items : ${itemList}">
      <h2 th:text="${items.product_name}"></h2>
      <h3 th:text="${items.product_price}"></h3>
      <h3 th:text="${items.product_amount}"></h3>
      <h2 th:text="${items.product_detail}"></h2>
      <h4 th:text="${items.product_id}"></h4>
      <!-- th:each로 상품 뿌리기-->
    </div>
  </div>
</div>

</body>
</th:block>
</html>