<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout2.html}">

<head>
    <meta charset="UTF-8">
    <title> 관리자페이지 </title>

</head>
<body>
<div layout:fragment="admin_content">
    <div class="container" id="box" style="margin-top: 120px; text-align: center">
        <h2>상품관리</h2>


        <table class="table table-success table-striped">
            <thead>
            <tr>
                <th scope="col">상품번호</th>
                <th scope="col">상품명</th>
                <th scope="col">지급처</th>
                <th scope="col">지불 포인트</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${product}">
                <td th:text="${list.pro_num}">0</td>
                <td><a th:text="${list.pro_name}" th:href="@{product2(pro_num=${list.pro_num})}">1</a></td>
                <td th:text="${list.pro_from}">3</td>
                <td th:text="${list.pro_point}">4</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button style="width: 170px; background: #2a722d; border: none; height: 40px; margin-right: 6%; float: right;">
            <a href="/admin/product3" style=" color: white; font-size: 17px; font-weight: 700;">글쓰기</a>
        </button>

    </div>
</div>

</body>
</html>