<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="post_form_container">
        <form class="post_form" id="upload_form" method="post" action="/userImg" enctype="multipart/form-data">
            <div class="preview">
                <div class="upload">
                    <div class="post_btn">
                        <p>프로필 이미지 수정</p>
                        <canvas id="imageCanvas"></canvas>
                    </div>
                </div>
            </div>
            <input type="file" multiple="multiple" name="imgs" id="id_photo" required="required">
            <input class="submit_btn" type="submit" value="저장"/>
        </form>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:inline="javascript">
    // function insertImg() {
    //     var uploadForm = $('#upload_form')[0];
    //     var formData = new FormData(uploadForm);
    //     $.ajax({
    //         type: 'post',
    //         url: 'imgUpload.do',
    //         data: formData,
    //         contentType: false,
    //         processData: false,
    //         enctype: 'multipart/form-data',
    //         cache: false,
    //         success: function(data) {
    //             console.log(data);
    //             alert("이미지를 등록했습니다.");
    //             location.href = "/myAccount"
    //         },
    //         error: function(err) {
    //             alert("이미지 등록 오류");
    //             console.log(err);
    //         }
    //     })
    // }

    var fileInput  = document.querySelector("#id_photo");
        button     = document.querySelector(".input-file-trigger"),
        the_return = document.querySelector(".file-return");

    // show image
    fileInput.addEventListener('change', handleImage, false);
    var canvas = document.getElementById('imageCanvas');
    var ctx = canvas.getContext('2d');

    function handleImage(e) {
        var reader = new FileReader();
        reader.onload = function(event) {
            var img = new Image();
            img.onload = function() {
                canvas.width = 300;
                canvas.height = 300;
                ctx.drawImage(img,0,0,300,300);
            };
            img.src = event.target.result;
        };
        reader.readAsDataURL(e.target.files[0])
    }






</script>
</html>