<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
.inputBtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.upload {
    display: flex;
    justify-content: center;
}

.submit_btn {
    width: 70px;
    height: 40px;
}

.delete_btn {
    width: 70px;
    height: 40px;
    margin-left: 30px;
}
#imageCanvas {
    border-radius: 100px;
}
</style>
<body>
    <div class="post_form_container">
        <form class="post_form" id="upload_form">
            <div class="preview">
                <div class="upload">
                    <div class="post_btn">
                        <h3 class="upload">프로필 이미지 수정</h3>
                        <canvas id="imageCanvas"></canvas>
                    </div>
                </div>
            </div>
            <div class="inputBtn">
                <input type="file" multiple="multiple" name="imgs" id="id_photo" required="required">
            </div>
            <div class="inputBtn">
                <input class="submit_btn" type="button" value="저장" onclick="submitImg()"/>
                <input class="delete_btn" type="button" value="삭제" onclick="deleteImg()"/>
            </div>
        </form>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:inline="javascript">






</script>
</html>