/* 전체 채팅 컨테이너 */
.chat_container {
    margin: 0 auto;
    width: 480px;
    height: 800px;
    background-color: #c3d3e2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    border: 1px solid #E5E5E5;
}

/* 채팅 내용 */
#msg_box {
    margin: 20px;
    flex: 1;
    overflow-y: scroll;
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #a4b2be;
    height: 30%;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    color: transparent;
}

/* 헤더 */
header {
    background-color: #c3d3e2;
    color: #5c5c5c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
}

/* 전송버튼 */
#sendBtn {
    background-color: #f5f5f5;
    border: none;
    color: #556677;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

/* 입력창 컨테이너 */
#input_container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #E5E5E5;
}

/* 입력창 */
#input {
    flex: 1;
    min-height: 30px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #F5F5F5;
    margin-right: 10px;
    outline: none;
    overflow-y: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    text-align: left;
    font-size: 15px;
    word-wrap: break-word;
    word-break: break-all;
}

/* 메세지 */
.messages {
    padding: 10px;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    border-radius: 4px;
    background: transparent;
}

.messages li {
    position: relative;
    clear: both;
    padding: 14px;
    margin: 0 0 20px 0;
    font: 13px "Noto Sans", sans-serif;
    border-radius: 10px;
    background-color: #FFFFFF;
    word-wrap: break-word;
    max-width: 81%;
}

.self{
    background-color: #f6e755 !important;
    float: right;
}

.other{
    background-color: white;
    float: left;
}
