<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="carousel">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/carousel.css" />
</head>
<body>
    
    <div id="carousel">
    </div>

<!--    <h1>URL 링크</h1>-->
<!--    <ul>-->
<!--        <li><a th:href="@{/hello}">basic url</a></li>-->
<!--        <li><a th:href="@{/hello(param1=${param1}, param2=${param2})}">hello query param</a></li>-->
<!--        <li><a th:href="@{/hello/{param1}/{param2}(param1=${param1}, param2=${param2})}">path variable</a></li>-->
<!--        <li><a th:href="@{/hello/{param1}(param1=${param1}, param2=${param2})}">path variable + query parameter</a></li>-->
<!--    </ul>-->
</body>
</th:block>
</html>