<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<meta charset="UTF-8">
<!-- Template Stylesheet -->
<link href="/assets/css/main.css" rel="stylesheet">
<script src="/js/top_btn.js"></script>
<script src="/js/chat.js"></script>
<title> footer </title>


<footer th:fragment="footerFragment">
    <!-- footer -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">주소</h2>
                        <ul>
                            <li>서울특별시 마포구 신촌로 176</li>
                            <li>+02 1234 5678</li>
                            <li>info@example.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">1:1 문의</h2>
                        <p>평일 : 09:00 ~ 18:00</p>
                        <p>휴일 : 주말/공휴일</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">서비스</h2>
                        <ul>
                            <li><a href="/pickup">수거예약</a></li>
                            <li><a href="/exchange">포인트교환</a></li>
                            <li><a href="/notice">공지사항</a></li>
                            <li><a href="/notice">Q&A</a></li>
                            <li><a href="/join">회원가입</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">구독</h2>
                        <p>그린토피아 뉴스레터 구독하고 <br>
                            새로운 소식을 받아보세요!</p>
                        <form action="/">
                            <input type="email" placeholder="Email">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->
    <a href="javascript:openDetail('http://pf.kakao.com/_xaHuLxj/chat')" class="enter_chat"
       data-toggle="tooltip" data-placement="top" title="카카오톡 상담">
        <img src="/img/카카오톡-로고-3.png" id="chat_btn">
    </a>
    <a href="javascript:openDetail('/chat')" class="live_chat"
       data-toggle="tooltip" data-placement="top" title="실시간 상담">
        <i class="fa-solid fa-comments fa-2xl"></i>
    </a>
    <div onclick="topFunction()" id="top_btn" title="Go to top"><i class="bi bi-arrow-bar-up">TOP</i></div>


</footer>

<!-- jquery -->
<script src="/assets/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- isotope -->
<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
<!-- owl carousel -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="/assets/js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="/assets/js/sticker.js"></script>
<!-- main js -->
<script src="/assets/js/main.js"></script>
</html>