<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header">
</head>
<body>
<div class="wrapper">
  <div id="wrapper">
    <!-- Header-->
    <div th:replace="layout/bodyHeader :: bodyHeader"/>
    <!-- Sidebar -->
    <div th:replace="layout/sidebar :: sidebar"/>
    <!-- Content-->
    <div class="content-wrapper" th:object="${member}">
      <div class="my-info">
        <div class="form-group">
          <label>이메일</label>
          <label class="form-control" th:text="*{member_email}"></label>
        </div>
        <div class="form-group">
          <label>닉네임</label>
          <label class="form-control" th:text="*{member_name}"></label>
        </div>
        <div class="form-group">
          <label>도시명</label>
          <label class="form-control" th:text="*{address.city}"></label>
        </div>
        <div class="form-group">
          <label>상세주소</label>
          <label class="form-control" th:text="*{address.detailed_addr}"></label>
        </div>
        <div class="form-group">
          <label>ZIPCODE</label>
          <label class="form-control" th:text="*{address.zipcode}"></label>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="layout/footer :: footer"/>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
  let sidebarOn = document.querySelector('.sidebar-ul');
  let clickedClass = "on";
  function sidebarClick(){
    sidebarOn.classList.toggle(clickedClass);
  }
  sidebarOn.addEventListener("click", sidebarClick);

  // document.querySelector('#sidebar-ul').addEventListener('click', ()=>{
  //     document.querySelector('#sidebar-ul').classList.toggle('on');
  // })
</script>

</body>
</html>