<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title> 그린토피아 </title>
    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <link rel="icon" href="/img/favicon.ico">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/layout3.css" type="text/css" rel="stylesheet">
</head>
<body>
<header th:replace="fragment/header"></header>

<div class="container" id="box1"
     style="margin-top: 140px; margin-bottom: 50px; font-family: 'NanumBarunGothic', sans-serif; font-weight:700;">
    <div class="row" id="box2" style="height: 650px;">

        <div class="col-md-3">

            <div style=" width: 100%; height: 101px; display: flex; justify-content: center; align-items: center;" th:if="${profileImgVo} != null">
                <img th:src="@{/img/profile/{img_save_name}(img_save_name=${profileImgVo.img_save_name})}" id="pro_img" style="margin-left: 0px; width: 110px; border-radius: 60%; cursor:pointer;" data-toggle="modal" data-target="#exampleModal"
                     th:onerror="javascript:this.src='img/유저.png'">
                <input type="file" id="profile_img" style="display: none;">
            </div>

            <div style=" width: 100%; height: 101px; display: flex; flex-direction: column; align-items: center;" th:if="${profileImgVo} == null">
                <img src="/img/유저.png" id="pro_img" style=" width: 110px; border-radius: 60%; cursor:pointer;" data-toggle="modal" data-target="#exampleModal">
                <input type="file" id="profile_img" style="display: none;">
            </div>

            <div style="font-size: 25px; letter-spacing: -2px; margin-top: 10px;">
                <span style="color: black; font-weight: 700;">[[${user.user_id}]]</span>님
                <a href="/modify"><img src="/img/right-arrow.png" style="width: 15px;"></a>
            </div>
            <div>
                <div class="container-fluid" style="margin-bottom: 15px;">
                    <div id="userProfile" style="height: 10%;">
                        <span>내 프로필</span>
                    </div>
                    <div style="height: 90%; border: 1px solid #e6e6e6;" id="profiles">
                        <div>
                            <img src="/img/myPage/user.png" style="width: 10%;">
                            <span> [[${user.user_id}]]</span>
                        </div>
                        <div>
                            <img src="/img/myPage/id-card.png" style="width: 10%;">
                            <span> [[${user.user_name}]]</span>
                        </div>
                        <div>
                            <img src="/img/myPage/mail.png" style="width: 10%;">
                            <span> [[${user.user_email}]]</span>
                        </div>
                        <div>
                            <img src="/img/myPage/phone-call.png" style="width: 10%" ;>
                            <span> [[${user.user_tel.substring(0,7)}]]****</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="greenPoint">
                <div style="margin-bottom: 10px;">
                    <img src="/img/greenPoint.png" style="width: 30px; margin-left: 15px;">
                    <span style="margin-left: 5px; color: black;">그린포인트</span>
                    <span style="text-align: center; color: #2a722d; font-weight: 700;">[[${user.user_point}]]p</span>
                    <a href="/greenPoint"><img src="/img/right-arrow.png" style="width: 15px;"></a>
                </div>
            </div>

        </div>


        <th:block layout:fragment="content" class="col-md-9" style="text-align: left;">

        </th:block>


    </div>
</div>

<footer th:replace="fragment/footer"></footer>
</body>
</html>