<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
<!--    &lt;!&ndash;  부트스트랩 js 사용 &ndash;&gt;-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--    <script type="text/javascript" src="/js/bootstrap.js"></script>-->
    <script src="/js/header.js"></script>
    <link rel="stylesheet" href="/css/header.css" type="text/css">
</head>

<body>
    <!--headerFragment 선언-->
    <div th:fragment="headerFragment" class="main_header">
        <div>
            <div class="header">
                <div class="header_icon">
                    <div>
                        <a class="link-secondary" id="logoImage" href="/"><img src="images/carrotLogo.png" alt="로고"></a>
                    </div>
                    <div class="btnList">
                        <a href="/TdBoard">중고거래</a>
                    </div>
                    <div class="btnList">
                        <a>동네가게</a>
                    </div>
                    <div class="btnList">
                        <a>알바</a>
                    </div>
                    <div class="btnList">
                        <a>부동산 직거래</a>
                    </div>
                    <div class="btnList">
                        <a>자동차 직거래</a>
                    </div>
                    <div>
                        <input type="text">
                        <input type="button" value="검색">
                    </div>
                    <div class="myBtn">
                        <div th:if="${session.user == null}" id="loginBtn">
                            <a id="login_btn">로그인</a>
                        </div>
                        <div th:if="${session.user != null}" id="logoutBtn" >
                            <a href="logout.do">로그아웃</a>
                        </div>
                        <div th:if="${session.user == null}">
                            <a href="/join">회원가입</a>
                        </div>
                        <div >
                            <a onclick="return mypageCheck()">마이페이지</a>
                        </div>
                        <div >
                            <a >찜목록</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal_main">
            <div class="modal_content">
                <form class="modal_login">
                    <div class="login_title">
                        <h1>회원 로그인</h1>
                    </div>
                    <div class="LG_btn">
                        <div class="login_input">
                            <input type="text" name="userId" id="insertId" placeholder="아이디를 입력해주세요.">
                            <input type="text" name="userPw" id="insertPw" placeholder="비밀번호를 입력해주세요.">
                        </div>
                        <div class="login_submit">
                            <input id="login" type="button" value="로그인" onclick="idCheck()">
                        </div>
                    </div>
                    <div class="joinBtn">
                        <a href="/join">간편 회원가입</a>
                    </div>
                </form>
            </div>
            <div class="modal_close">
                <input type="button" value="닫기" id="modal_closebtn">
            </div>
        </div>
    </div>

</body>

<script>
    var user = [[${session.user}]];
</script>
</html>