@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.text1 > p {
    color: black;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -2px;
}

.text1 > p:before {
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: darkgreen;
    content: "";
}


#greenBox {
    width: 100%;
    box-shadow: 20px 16px 19px 0px rgba(0,0,0,0.72);
    text-align: center;
}

.ticket {
    width: 100%;
    margin-top: 16px;
}

.ticketHead{
    background-color : #2a6a47;
    height: 50px;
}

.ticketContent{
    background-color : #d5d6da;
}

#boarding {
    font-size : 20px;
    color: white;
    text-align: left;
    letter-spacing: -1px;
    margin-top: 13px;
    font-family: 'GmarketSansMedium', serif;
    margin-left: 5%;
}

#success{
    text-align: center;
    margin-top: 30px;
}

#flightNum {
    color: white;
    margin-top: 15px;
    font-size: 15px;
    letter-spacing: -1px;
}

#passengerNum {
    color: white;
    margin-top: 15px;
    font-size: 15px;
    letter-spacing: -1px;
}
.arrive{
    color: gray;
    text-align: center;
    margin-top: 40px;
}

#arriveCity {
    color: #005fa7;
    font-size: 30px;
}

#departCity {
    color: #005fa7;
    font-size: 30px;
}

#qr {
    width: 80px;
    height: 80px;
    margin-top: 30px;
}

tbody tr td {
    padding: 0 0 5px 20px;
    vertical-align: middle;
}

.rol {
    text-align: center;
}

.rol > p {
    font-size: 26px;
    letter-spacing: -2px;
    font-weight: 700;

}

#mysuccess1 {
    width: 140px;
    height: 40px;
    color: dodgerblue;
    border: 2px solid dodgerblue;
    background: white;
    font-size: 17px;
    font-weight: 700;
}

#mysuccess2 {
    width: 140px;
    height: 40px;
    color: #888;
    border: 2px solid #888;
    background: white;
    font-size: 17px;
    font-weight: 700;
}

.boxes {
    width: 100%;
    border-bottom: 2px solid #e6e6e6;
}

#table2 {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}
#table2 > thead {
    background: #e6e6e6;
}

#table3 {
    width: 100%;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 16px;
}
#table3 > tbody> tr> td{
    padding: 0px;
}
#table3 > tbody> tr {
    border-bottom: 1px solid #888;
}

#table3 > tbody {
    border-top: 2px solid black;
    border-bottom: 2px solid #888;
}
