<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>사원번호</th>
			<th>사원명</th>
			<th>직책</th>
			<th>급여</th>
			<th>삭제</th>
		</tr>
		<tr th:each="emp : ${list}">
			<td><a th:text="${emp.empno}" th:href="@{/update(empno=${emp.empno})}"/></td>
			<td th:text="${emp.ename}"></td>
			<td th:text="${emp.job}"></td>
			<td th:text="${emp.sal}"></td>
			<td><a th:href="@{/delete(empno=${emp.empno})}">x</a></td>
		</tr>
	</table>
</body>
</html>