<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.green.dao.BbsDao">

    <!-- Q&A 리스트 -->
    <select id="selectBoardAll" resultType="com.sunny.green.vo.BbsVo">
        select * from board order by board_date desc
    </select>

    <!-- Q&A 등록 -->
    <insert id="insertBoard" useGeneratedKeys="true" keyProperty="board_num">
        insert into board(board_num, board_title, user_id, board_content, board_date) values (#{board_num}, #{board_title}, #{user_id}, #{board_content}, NOW())
    </insert>

    <!-- Q&A 상세 -->
    <select id="selectBoard" resultType="com.sunny.green.vo.BbsVo">
        select *
        from board
        where board_num = #{board_num}
    </select>

    <!-- Q&A 수정-->
    <update id="updateBoard">
        update board
        set board_title = #{board_title},
            board_content = #{board_content}
        where board_num = #{board_num}
    </update>

    <!-- Q&A 삭제-->
    <delete id="deleteBoard">
        delete
        from board
        where board_num = #{board_num}
    </delete>


    <!-- 번호 자동 조정 -->
    <update id="updateBoardNum">
        <selectKey keyProperty="board_num" order="BEFORE">
            SELECT @num := 0
        </selectKey>
        UPDATE board, (SELECT @num := 0) r
        SET board.board_num = (@num := @num + 1)
    </update>

    <!--    &lt;!&ndash; 게시글과 해당 댓글들을 함께 삭제 &ndash;&gt;-->
    <!--    <delete id="deleteBoardWithComments">-->
    <!--        &lt;!&ndash; 해당 게시글의 댓글을 삭제 &ndash;&gt;-->
    <!--        DELETE FROM comment WHERE board_num = #{board_num}-->
    <!--        &lt;!&ndash; 해당 게시글 삭제 &ndash;&gt;-->
    <!--        DELETE FROM board WHERE board_num = #{board_num}-->
    <!--    </delete>-->

    <!--    &lt;!&ndash; 번호 자동 조정 &ndash;&gt;-->
    <!--    <update id="updateBoardNum">-->
    <!--        <selectKey keyProperty="board_num" order="BEFORE">-->
    <!--            SELECT @num := 0-->
    <!--        </selectKey>-->
    <!--        UPDATE board, (SELECT @num := 0) r-->
    <!--        SET board.board_num = (@num := @num + 1)-->
    <!--    </update>-->

    <select id="selectAllBoard" resultType="com.sunny.green.vo.BbsVo">
        select * from board;
    </select>

    <select id="selectAllBoard2" resultType="com.sunny.green.vo.BbsVo">
        select * from board where user_id = #{user_id};
    </select>

    <!--    rsList 검색  -->
    <select id="searchBoard" resultType="com.sunny.green.vo.BbsVo">
        SELECT *
        FROM board
        <where>
            <if test="searchType=='board_title' and searchValue != null and searchValue != '' ">
                AND board_title like CONCAT('%', #{searchValue}, '%')
            </if>
            <if test="searchType=='user_id' and searchValue != null and searchValue != '' ">
                AND user_id like CONCAT('%', #{searchValue}, '%')
            </if>
        </where>
    </select>

    <select id="myPageBoard" resultType="com.sunny.green.vo.BbsVo">
        select * from board where user_id = #{user_id} order by board_num desc limit 0,8;
    </select>
</mapper>